<html>
    <head>
        <meta charset="UTF-8">
        <title>Index</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for{'static', filename='my_style_sheet.css'}}}">
        <script type='text/javascript' src="{{ url_for('static', filename='myscript.js"}}>
        </script>
    </head>
    <body>
        <h1>Hello Flask!</h1>
    </body>




</html>

@app.route('/<int:times>/<color>')
    def repeat(times,color):
        return render_template("name.html", times = times , color = color)


        {% for x in range(0,times): %}
        <div class="boxes"></div>
        {% endfor %}


